@import url('https://fonts.googleapis.com/css?family=Lato');

*
{
	margin: auto;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	border-radius: 3px;
}
.no-right-border-radius
{
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.no-left-border-radius
{
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}
.text-white
{
	color:  #ffffff;
}
.text-gray
{
	color:  #969696;
}
.bg-blue
{
	background-color:  #17a2d4 !important;
}
.mt-3
{
	margin-top: 3%;
}
.mb-3
{
	margin-bottom: 3%;
}
.mr-10
{
	margin-right: 10%;
}
.signup-box{
	width: 500px;
}
.signup-box-heading
{
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	background-color:  #17a2d4;
	color:  #f4f4f4;
	font-size: 24px;
	font-weight: 800;
	text-align: center;
	letter-spacing: 1px;
	line-height: 420%;
}
.signup-box-content
{
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	text-align: center;
	background-color:  #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
}
.textfield
{
	border-width: 1px;
	border-color:  #e8e8e8;
	border-style: solid;
	background-color:  #f6f6f6;
	width: 448px;
	padding: 17px;
}
.submit-btn {
	width: 450px;
	background-color:  #17a2d4;
	border: none;
	padding: 13px;
	cursor: pointer;
}
.signup-icon
{
	padding-left: 4%;
	font-size: 40px !important;
	margin-top: -13px;
	line-height: 100%;
}
.pull-left
{
	float: left; 
}
.pull-right
{
	float: right; 
}
.radio-btn
{	
	width: 448px;
	padding: 19px 0px;
	font-weight: 400;
	text-align: center;
}
.member-type
{
	border-width: 1px;
	border-color:  #e8e8e8;
	border-style: solid;
	background-color:  #f6f6f6;
	width: 188px;
	border-collapse: collapse;
	padding: 17px;
}
.clearfix {
    overflow: auto;
    clear: both;
}
.backlink
{
	font-size:15px;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 4px;
  background-clip: content-box;
  border: 2px solid #ccc;
  background-color: #f6f6f6;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #fff;
  border: 2px solid #fff;
}
